:root
{
	--bg-raw: 68, 68, 68;
	--bg: rgb( var( --bg-raw ) );
	--navbar-size: 50px;
	--navbar-bg: #000000;
	--link-color: #ffffff;
	--link-color-hover: #00aeff;
	--button-color: #148bca;
	--button-color-dark: #313131;
	--box-shadow: 2px 2px 10px rgba( 0, 0, 0, 0.35 );
	--spacing-tiny: 2px;
	--spacing-small: 10px;
	--spacing-medium: 16px;
	--spacing-large: 30px;
	--spacing-huge: 70px;
	--vh: 1vh;
}

body
{
	font-family: Roboto;
	color: var( --link-color );
	background-color: var( --bg );
	letter-spacing: 0.02em;
	font-weight: 300;
}

body, h1, h2, h3, ul, li, p
{
	margin: 0;
}

h1, h2, h3
{
	font-family: Rajdhani, sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

h2, h3
{
	font-weight: 500;
	font-size: 1em;
}

a
{
	color: #fff;
}

a:link, a:hover, a:visited, a:active
{
	text-decoration: none;
}

b
{
	font-weight: 500;
}

button
{
	background: transparent;
	border: none;
	padding: 0;
}

button:focus
{
	outline: none;
}

main
{
	width: 100%;
}

a
{
	-webkit-tap-highlight-color: transparent;
}

/* Mobile */
@media only screen and ( max-width: 767px )
{
	main
	{
		margin-top: var( --navbar-size );
	}
}

/* Tablet */
@media only screen and ( min-width: 768px )
{
	:root
	{
		--navbar-size: 100px;
	}
	
	html, body
	{
		height: 100%;
		width: 100%;
	}
	
	a:hover, a:active
	{
		color: var( --link-color-hover );
	}

	main
	{
		box-sizing: border-box;
		position: relative;
	}
}

/* Desktop */
@media only screen and ( min-width: 1000px )
{
	body
	{
		overflow-y: scroll;
	}
	
	#root
	{
		margin-left: auto;
		margin-right: auto;
		max-width: 1098px;
	}
}

@media only screen and ( min-width: 1098px )
{
	body
	{
		background-image: url( "/images/bg.jpg" );
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center top;
	}
}