:root
{
	--bg-raw: 68, 68, 68;
	--bg: rgb( var( --bg-raw ) );
	--navbar-size: 50px;
	--navbar-bg: #2f3543;
	--link-color-hover: #2a95cc;
	--menu-toggle-color: rgba( 255, 255, 255, 0.5 );
	--spacing-small: 12px;
	--spacing-medium: 16px;
	--spacing-large: 30px;
	--spacing-huge: 70px;
}

body
{
	font-family: Roboto;
	color: #fff;
	background-color: var( --bg );
	letter-spacing: 0.02em;
	font-weight: 300;
}

body, h1, h2, h3, ul, li, p
{
	margin: 0;
}

h1, h2, h3
{
	font-family: Rajdhani, sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

h2, h3
{
	font-weight: 500;
	font-size: 1em;
}

a
{
	color: #fff;
}

a:link, a:hover, a:visited, a:active
{
	text-decoration: none;
}

b
{
	font-weight: 500;
}

button
{
	background: transparent;
	border: none;
	padding: 0;
}

button:focus
{
	outline: none;
}

main
{
	margin-top: var( --navbar-size );
	width: 100%;
}