@value bg: #686868;
@value navbarSize: 50px;
@value navbarSizeTablet: 100px;
@value linkColor: #ffffff;
@value linkColorHover: #3089dd;
@value buttonColor: #0b6bc5;
@value boxShadow: 2px 2px 10px rgba( 0, 0, 0, 0.35 );
@value spacingTiny: 2px;
@value spacingSmall: 10px;
@value spacingMedium: 16px;
@value spacingLarge: 30px;
@value spacingHuge: 70px;

.app
{
	font-family: Roboto;
	color: linkColor;
	background-color: bg;
	letter-spacing: 0.02em;
	font-weight: 300;
	height: inherit;
	width: inherit;
}

.h1
{
	margin: 0;
	font-family: Rajdhani, sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.h2, .h3
{
	composes: h1;
	font-weight: 500;
	font-size: 1em;
}

.a
{
	color: linkColor;
	-webkit-tap-highlight-color: transparent;
}

.a:link, .a:hover, .a:visited, .a:active
{
	text-decoration: none;
}

.button
{
	background: transparent;
	border: none;
	padding: 0;
}

.button:focus
{
	outline: none;
}

.main
{
	width: 100%;
}

/* Mobile */
@media only screen and ( max-width: 767px )
{
	.main
	{
		margin-top: navbarSize;
	}
}

/* Tablet */
@media only screen and ( min-width: 768px )
{
	.app
	{
		background-image: url( "/images/bg.jpg" );
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center top;
	}
	
	.main
	{
		box-sizing: border-box;
		position: relative;
	}
}

/* Desktop */
@media only screen and ( min-width: 1000px )
{
	.app
	{
		overflow-y: scroll;
	}
	
	.content
	{
		margin-left: auto;
		margin-right: auto;
		max-width: 1098px;
	}
}