:root
{
	--bg: #e4dfe6;
	--navbar-size: 50px;
	--navbar-bg: #2f3543;
	--link-color-hover: #2a95cc;
	--spacing-small: 10px;
	--spacing-medium: 16px;
	--spacing-large: 30px;
}

body
{
	font-family: Roboto;
	color: #fff;
	background-color: var( --bg );
	letter-spacing: 0.02em;
	font-weight: 300;
}

body, h1, h2, ul, li, p
{
	margin: 0;
}

h1, h2
{
	font-family: Rajdhani, sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

h2
{
	font-weight: 500;
}

a
{
	color: #fff;
}

a:link, a:hover, a:visited, a:active
{
	text-decoration: none;
}

b
{
	font-weight: 500;
}

main
{
	margin-top: var( --navbar-size );
	width: 100%;
}