.button
{
	position: relative;
}

.button, .button .bar
{
	width: inherit;
}

.button h3
{
	text-align: center;
	padding: var( --spacing-small ) 0;
}

.button .bar
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.button .bar, .button .icon
{
	display: flex;
}

.button .right
{
	flex-grow: 1;
	background-color: #313131;
}

.button .icon
{
	background-color: var( --button-color );
	width: calc( 1.2em + ( 2 * var( --spacing-small ) ) );
	margin-right: 2px;
	padding: 8px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}

.button img
{
	height: 100%;
	width: 100%;
}