@value app: "./App.module.css";
@value buttonColor, spacingSmall from app;
@value buttonColorDark: #0000007d;

.button
{
	position: relative;
}

.button, .bar
{
	width: inherit;
}

.h3
{
	composes: h3 from app;
	text-align: center;
	padding: spacingSmall 0;
	position: relative;
	z-index: 1;
}

.bar
{
	position: absolute;
	top: 0;
	left: 0;
}

.bar, .icon
{
	display: flex;
}

.right
{
	flex-grow: 1;
	background-color: buttonColorDark;
}

.icon
{
	background-color: buttonColor;
	width: calc( 1.2em + ( 2 * spacingSmall ) );
	margin-right: 2px;
	padding: 8px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}

.button img
{
	height: 100%;
	width: 100%;
}