nav header,  #logo, #links
{
	align-items: center;
}

#logo
{
	display: inline-flex;
}

#links svg
{
	fill:  var( --link-color );
}

/* Mobile */
@media only screen and ( max-width: 767px )
{
	nav
	{
		width: 100%;
		position: fixed;
		z-index: 999;
	}
	
	nav header,  #links
	{
		display: flex;
	}

	nav, nav header, #menu-toggle-closed, #menu-toggle-opened
	{
		top: 0;
	}

	nav, nav header, #links, #menu-toggle-closed, #menu-toggle-opened
	{
		left: 0;
	}

	nav h1
	{
		font-size: 0.9em;
	}

	nav header
	{
		height: var( --navbar-size );
		background-color: var( --navbar-bg );
		align-items: center;
		padding: 0 var( --spacing-medium );
		justify-content: space-between;
	}
	
	nav header, #links
	{
		box-sizing: border-box;
	}
	
	nav header, #links
	{
		width: inherit;
	}

	nav header, #links, #menu-toggle-closed, #menu-toggle-opened
	{
		position: absolute;
	}
	
	#logo h1
	{
		margin-left: var( --spacing-small );
	}
	
	#logo img
	{
		height: 30px;
		width: 30px;
	}

	#links
	{
		z-index: -1;
		transform: translateY( -100% );
		transition: transform 0.3s ease;
		padding: 18px 10% 14px 10%;
		background: var( --button-color );
		text-align: center;
		justify-content: space-between;
	}

	#links.open
	{
		transform: translateY( var( --navbar-size ) );
	}
	
	#links svg
	{
		height: 50px;
		width: 50px;
	}

	#menu-toggle
	{
		height: 30px;
		width: 20px;
		position: relative;
	}

	#menu-toggle-closed, #menu-toggle-opened
	{
		height: inherit;
	}

	#menu-toggle-closed, .open #menu-toggle-opened
	{
		opacity: 1;
	}

	#menu-toggle-opened, .open #menu-toggle-closed
	{
		opacity: 0;
	}
}

/* Tablet */
@media only screen and ( min-width : 768px )
{
	nav
	{
		height: var( --navbar-size );
		display: flex;
		box-sizing: border-box;
		justify-content: space-between;
		background-color: var( --navbar-bg );
		padding: 0 var( --spacing-large );
	}
	
	nav h1
	{
		font-size: 1em;
	}
	
	nav header,  #links, #links a
	{
		display: inline-flex;
	}
	
	#logo h1
	{
		margin-left: var( --spacing-medium );
	}
	
	#logo img
	{
		height: 50px;
		width: 50px;
	}
	
	#menu-toggle
	{
		display: none;
	}
	
	#links svg
	{
		height: 40px;
		width: 40px;
	}
	
	#links h2
	{
		text-transform: lowercase;
	}
	
	#links > *:not(:first-child)
	{
		margin-left: var( --spacing-large );
	}
	
	#links a
	{
		align-items: center;
	}
	
	#links a > *:not(:first-child)
	{
		margin-left: var( --spacing-small );
	}
	
	#links a:hover svg
	{
		fill: var( --link-color-hover );
	}
}