#navigation
{
	position: fixed;
	z-index: 999;
}

#navigation, #navigation header
{
	top: 0;
}

#navigation, #navigation header, #navigation nav
{
	width: 100%;
	left: 0;
}

#navigation h1, #navigation h2
{
	font-size: 0.9em;
}

#navigation header
{
	height: var( --navbar-size );
	padding: 0 var( --spacing-medium );
	background-color: var( --navbar-bg );
}

#navigation header, #logo
{
	align-items: center;
}

#navigation header, #navigation nav, #logo
{
	display: flex;
}

#navigation header, #navigation nav
{
	box-sizing: border-box;
	position: absolute;
}

#navigation nav
{
	z-index: -1;
	transform: translateY( -100% );
	padding: 18px 10% 14px 10%;
	background: var( --link-color-hover );
	text-align: center;
	justify-content: space-between;
}

#navigation nav.open
{
	transform: translateY( var( --navbar-size ) );
}

#navigation nav svg
{
	fill: #fff;
	height: 50px;
	width: 50px;
}

#logo
{
	margin-left: auto;
	margin-right: auto;
}

#logo h1
{
	margin-left: var( --spacing-small );
}

#logo svg
{
	height: 30px;
	width: 30px;
}

#menu-toggle
{
	fill: #00aeff;
	height: 30px;
	width: 20px;
}