nav
{
	position: fixed;
	z-index: 999;
	width: 100%;
}

nav, nav header
{
	top: 0;
}

nav, nav header, #links
{
	left: 0;
}

nav h1
{
	font-size: 0.9em;
}

nav header
{
	height: var( --navbar-size );
	background-color: var( --navbar-bg );
}

nav header, #logo
{
	align-items: center;
}

nav header, #links, #logo
{
	display: flex;
	width: inherit;
}

nav header, #links, #logo, #menu-toggle
{
	position: absolute;
}

#links
{
	box-sizing: border-box;
	z-index: -1;
	transform: translateY( -100% );
	padding: 18px 10% 14px 10%;
	background: var( --link-color-hover );
	text-align: center;
	justify-content: space-between;
}

#links.open
{
	transform: translateY( var( --navbar-size ) );
}

#links img
{
	height: 50px;
	width: 50px;
}

#logo
{
	justify-content: center;
}

#logo h1
{
	margin-left: var( --spacing-small );
}

#logo img
{
	height: 30px;
	width: 30px;
}

#menu-toggle
{
	height: 30px;
	width: 20px;
	right: var( --spacing-small );
}

#menu-toggle-closed, #menu-toggle-opened
{
	top: 0;
	left: 0;
	height: inherit;
	position: absolute;
}

#menu-toggle-closed
{
	opacity: 1;
}

.open #menu-toggle-closed
{
	opacity: 0;
}

#menu-toggle-opened
{
	opacity: 0;
}

.open #menu-toggle-opened
{
	opacity: 1;
}