#projects
{
	text-align: center;
	z-index: 1;
	position: fixed;
	overflow-y: scroll;
	height: calc( 100% - var( --navbar-size ) );
	width: inherit;
	pointer-events: none;
	transform: translate( -100% );
}

#projects.open
{
	transform: translate( 0 );
	pointer-events: auto;
}

.project-tile
{
	height: 60vw;
	width: inherit;
	color: var( --navbar-bg );
}

.project-tile header
{
	padding: var( --spacing-medium );
}

.project-tile h1
{
	font-size: 1.5em;
}

.project-tile h2
{
	font-size: 1.2em;
}

.project-tile .image
{
	position: relative;
	width: inherit;
	height: inherit;
}

.project-tile .image:after
{
	content: "";
	border-bottom: 2px solid rgba( 255, 255, 255, 0.3 );
	position: absolute;
	bottom: -2px;
	left: 0;
	width: inherit;
}

.project-tile .background, .project-tile .overlay, .project-tile .reflection
{
	position: absolute;
	height: inherit;
	width: inherit;
}

.project-tile .background
{
	background-size: 120% auto;
	background-position: center top;
	box-shadow: inset 0px 12px 10px -10px rgba( 0, 0, 0, 0.35 ), inset 0px -12px 10px -10px rgba( 0, 0, 0, 0.35 );
}

.project-tile .reflection
{
	background-size: inherit;
	bottom: -20vw;
	background-size: inherit;
	background-image: inherit;
	background-position: center -100px;
	left: 0;
	height: 20vw;
}

.text, .title
{
	position: absolute;
}

.text
{
	height: inherit;
}


.project-tile:nth-child(n+2) .title
{
	left: var( --spacing-large );
	right: auto;
}

.title
{
	right: var( --spacing-large );
	bottom: var( --spacing-large );
	background-color: var( --navbar-bg );
}

.title, .text
{
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	box-sizing: border-box;
	justify-content: center;
}

.title
{
	padding: var( --spacing-small );
}

.title h1, .title h2
{
	font-size: 1em;
}

.title h1, .text h1
{
	margin-bottom: -01.em;
}

.text
{
	padding: var( --spacing-large );
}

.text > *:not(:first-child)
{
	margin-top: var( --spacing-large );
}

.text header
{
	text-shadow: 0px 3px 3px #212121;
}

.text h1
{
	font-size: 1.5em;
}

.text h2
{
	font-size: 1.2em;
	color: #fff;
}