article
{
	position: absolute;
	left: 0;
	height: calc( 100% - var( --navbar-size ) );
	color: var( --navbar-bg );
	width: inherit;
}

section
{
	padding: var( --spacing-large ) var( --spacing-medium );
	width: inherit;
	box-sizing: border-box;
}

#title header
{
	padding: 0 var( --spacing-medium );
	color: #fff;
	text-align: center;
}

#title
{
}

#title h1
{
	font-size: 3em;
	line-height: 0.9em;
}

#title h2
{
	font-size: 1.6em;
	margin-top: var( --spacing-medium );
}

#websites > *:not(:first-child)
{
	margin-top: var( --spacing-medium );
}

#video
{
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
	width: 100%;
}

#video iframe
{
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
	width: inherit;
}

#images
{
	padding: var( --spacing-medium );
}

#background
{
	position: absolute;
	z-index: -1;
	left: 0;
	opacity: 0.7;
	background-size: cover;
	background-position: left center;
	overflow: hidden;
	width: inherit;
	height: 100%;
}

article, article h3
{
	box-sizing: border-box;
}

article h3
{
	text-align: center;
	color: #fff;
}

article h3
{
	background-color: var( --navbar-bg );
	padding: var( --spacing-small );
}

article ul
{
	list-style-type: square;
	padding-left: 1.25em;
}

#overlay
{
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	height: 100%;
	width: inherit;
}

.website
{
	box-sizing: border-box;
	padding: var( --spacing-small );
	font-family: Rajdhani, sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.9em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var( --link-color-hover );
}

.website svg
{
	height: 1.3em;
	width: 1.3em;
	margin-left: 0.5em;
	fill: #fff;
}

.image
{
	box-sizing: border-box;
}

.image img
{
	width: 100%;
}

.image, .image img
{
	display: block;
}

.image img:hover
{
	outline: 5px solid var( --link-color-hover );
	outline-offset: -5px;
}

.credit span
{
	margin-left: 0.5em;
}